/* .swiper.vertical-pagination .swiper-wrapper {
  align-items: center !important;
} */
.swiper.vertical-pagination .swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 10px;
  left: auto;
  right: 30px;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10px;
}
.swiper.vertical-pagination .swiper-pagination .swiper-pagination-bullet {
  margin: 0 !important;
}
