/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper-pagination-bullet {
  width: 18px !important;
  height: 4px !important;
  border-radius: 25% !important;
}

.swiper-pagination-bullet-active {
  background: #0a8848 !important;
} */
